# mmsegmentationde
.circleci/
.dev_scripts/
.idea/
configs/
demo/
docker/
docs/
mmseg/
projects/
requirements/
resources/
tests/
tools/
.owners.yml
.pre-commit-config.yaml
.readthedocs.yml
CITATION.cff
dataset-index.yml
LICENSE
MANIFEST.in
model-index.yml
requirements.txt
setup.cfg
setup.py
.env
# myFolder中
myFolder/checkpoint/*
myFolder/outputs/*
myFolder/__pycache__/
myFolder/config/*
myFolder/chart/*
myFolder/work_dirs/*
